@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&family=Italiana&family=Vesper+Libre:wght@700&display=swap');

$font-title: 'Vesper Libre', serif;
$font-subtitle: 'Italiana', serif;
$font-text: 'Vesper Libre', serif;
