@import './styles/settings.scss';

.container {
  margin: 0 auto;
  max-width: 42rem;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: $font-title;
}
